body{
    background-color: black;
    color:white;
    font-family: 'Sunflower', sans-serif;
}

.MovieImg{
    width: 500px;
    height: auto;
    
}

.title1{
    font-size: 32px;
}

.title2{
    font-size: 32px;
}

.contents1{

}

.contents2{

}